.App {
  text-align: center;
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #ececec;
}

a:link {
  color: #0000EE;
}

a:visited {
  color: #551A8B;
}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 1px solid #25020f;
  box-shadow: 10px 10px;

  img {
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
  }

  img:hover {
    border: 2.5px solid #660860;
  }

  h1 {
    font-weight: 500; 
    color: #c5cfc6;
  }

  span {
    color: #ececec;
    font-weight: bold;
    margin-left: 8px;
  }

  p {
    color: #83af9b;
  }

}

.Welcome:hover {
  transform: translateY(3px);
}

.Welcome:active {
  box-shadow: 5px 5px;
  transform: translateY(4px);
}

.Logout {
  position: fixed;
  top: 15px;
  right: 12px;
  border: 1.2px solid rgba(0, 0 , 0, 0.7);
  padding: 5px;
  color: var(--button-color)
}

.Link {
  cursor: pointer;
}

.Link:hover {
  scale: 1.1;
}

:root {
  --main-bg-color: #333;
  --button-color: #c8c8a9;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
